<div class="card">
  <div class="card-content">
    <h5>Your Cart</h5><br />

    
    <table class="striped highlight">
      <thead>
        <th>Date</th>
        <th>Price</th>
      </thead>
      <% for item in  @items_in_cart%>
        <tr>

          <td><%= number_to_currency item.price %></td>

        </tr>
      <% end %>
    </table>
  
  </div>
</div>