  <div class="card"> 

    <div class="card-content"> 
    <h5>Your Cart </h5>

    <table class="striped highlight">
      <thead>
        <th>Date</th>
        <th>Price</th>
      </thead>
      <% for order_item in @items_in_cart%>
        <tr>

          <td><%= order_item.item.name %></td>

        </tr>
      <% end %>
    </table>
    </div> 
    </div>