
  <div class="card"> 

    <div class="card-content"> 
    <h5>Your Cart </h5>

    <table class="striped highlight">
      <thead>
        <th>Item</th>
        <th>Price</th>
      </thead>
      <% for order_item in @items_in_cart%>
        <tr>

          <td><%= order_item.item.name %></td>
          <td><%= number_to_currency order_item.item.current_retail_price %>
        </tr>
      <% end %>
    </table>
    </div> 
    </div>
    

<p><strong>
<%= link_to "Checkout", checkout_path, class: 'waves-effect waves-light btn' %> 
</strong></p>