<%# <%= render partial: "partials/show_structure", locals: {model_name: "cart", 
                                                         object: @items_in_cart,
                                                         primary: "cart_data", 
                                                         secondary: nil,
                                                         sidebar: nil} %> 
  <div class="card"> 

    <div class="card-content"> 
    <h5>Your Cart </h5>
    </div> 
    </div>