<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <div id="main_content">
        <h4>Contact</h4>
        <p>Contact us through email or phone...
        <br>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>