<div class="row">  
  <h4>Welcome to Great Pittsburgh Baking Outlet</h4>  
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <p>
          The Great Pittsburgh Baking Outlet is very cool.         
        </p>

      </div>
    </div>
  </div>
</div>