<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <div id="main_content">
        <h4>Privacy</h4>
        <p>Our privacy policy is that we take all your information from you :)
        <br>
        GPBO Privacy Policy
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>