<% if can? :manage, Item %>
<% if @item.item_prices.size > 1%>
  <h5>Price History</h5>
    <table class="striped highlight">
      <thead>
        <th>Date</th>
        <th>Price</th>
      </thead>
      <% for item in @item.item_prices.chronological %>
        <tr>
          <td><%=  item.start_date.strftime("%m/%d/%y") %></td>
          <td><%= number_to_currency item.price %></td>

        </tr>
      <% end %>
    </table>
    <br />
    <%end%>
<%end%>